*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.main-container div{
    width: 100%;
    height: 30vh;
}

.main-container .box1{
    background-color: #000;
}

.main-container .box2{
    background-color: lightsalmon;
}

.main-container .box3{
    background-color: teal;
}

.main-container .box4{
    background-color: cornflowerblue;
}

.main-container .box5{
    background-color: lightpink;
}

.main-container .box6{
    background-color: darkolivegreen;
}

.dropdown{
    position: relative;
    cursor: pointer;
    width: 15%;
}

.dropdown a{ /* a tag is an inline element it only takes its content width you need to display it as block or inline-block  */
    display: block;
    text-align: center;
    width: 100%;
    text-decoration: none;
    background-color: aqua;
    color: #000;
}

.dropdown a:hover{
    background-color: brown;
    color: #fff
}

.dropdown .dropdown-list{
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-list{
    display: block;
    width: 100%;
}

.dropdown .dropdown-list a:hover{
    font-size: 1.5em;
}




